NEXT_PUBLIC_SUPABASE_URL=https://fviahluvfgpqsjkghylf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2aWFobHV2ZmdwcXNqa2doeWxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MTEwOTYsImV4cCI6MjEwMjE4NzA5Nn0.FKwPB2VFk9j95Feex5poBnqKkpJIc0zRzgORLgYnIqc
NEXT_PUBLIC_STORAGE_BUCKET=linhfarm-images
